body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}

#hd1 {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-color: #0046ff;
  position: relative;
}

#hd1 img {
  width: 70%;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hd2 {
  width: 70%;
  height: 130px;
  margin: 0 auto;
  position: relative;
}

#sp1 {
  position: absolute;
  top: 55%;
  left: 13%;
  font-size: 20px;
  letter-spacing: 6px;
}

#sp2, #sp3, #sp4, #sp5 {
  position: absolute;
  top: 66%;
  font-size: 15px;
}

#sp2 { left: 70%; }
#sp3 { left: 78%; }
#sp4 { left: 86%; }
#sp5 { left: 94%; }

#im0, #im1, #im2, #im3, #im4, #im5 {
  position: absolute;
  cursor: pointer;
}

#im0 { width: 12%; top: 28%; left: 1%; }
#im1 { width: 12%; bottom: 30%; left: 52%; }
#im2 { width: 4%; top: 28%; left: 70%; }
#im3 { width: 4%; top: 28%; left: 78%; }
#im4 { width: 4%; top: 28%; left: 86%; }
#im5 { width: 4%; top: 28%; left: 94%; }


#hd3 {
  width: 100vw;
  height: 40px;
  border-top: 1px solid lightgray;
  margin-top: 20px;
}

ul {
  width: 50%;
  position: absolute;
  right: 33%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 60px;
  font-size: 20px;
  margin-top: 20px;
  border-right: 1.5px solid darkgray;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
}

#hd6 {
  display: none; /* 기본적으로 숨겨짐 */
  position: absolute;
  top: 160%; /* hd3 바로 아래에 위치 */
  left: 0;
  width: 100%;
  height: auto;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
}

#hd3:hover #hd6 {
  display: block; /* 마우스를 올렸을 때 보이도록 설정 */
}

.dropdown {
  margin: 0;
  padding: 10px;
  font-size: 16px;
  color: #333;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  top: 100%;
  padding: 10px;
  border-right: 2px solid lightgray;  
}

.dropdown:last-child {
  border-right: none;
}

.bold {
  font-weight: bold;
  font-size: 18px;
}

#hd4 {
  width: 15%;
  position: relative;
  left: 67%;
  height: 28px;
  margin-top: 20px;
  border-right: 1.5px solid darkgray;
}

input[type="text"] {
  width: 90%;
  height: 80%;
  top: 10%;
  position: absolute;
  left: 5%;
  font-size: 20px;
  border: none;
}

input[type="text"]::placeholder {
  color: black;
  border: none;
}

.cus1 {
  font-size: 23px;
  position: absolute;
  right: 3%;
  cursor: pointer;
}

#hd5 {
  width: 100%; 
  overflow: hidden; 
  margin-bottom: 50px;
}

#hd5 img {
  margin-top: 30px;
  width: 100%; 
  height: auto;
  object-fit: cover; 
}

#chart {
  font-size: 26px;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#com {
  cursor: pointer;
}

#circle1 {
  border: 1px solid #e2e2e2;
  border-radius: 30px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
  display: flex; /* Flexbox를 사용 (선택 사항) */
  align-items: center;
  justify-content: center; 
  width:110px ;
  height: 50px;
  font-size: 20px;
  padding: 1px 10px 1px 10px;
  cursor: pointer;
}

#rc {
  display: flex;
  gap: 20px; /* 요소 간의 간격 설정 */
  width: 70%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.movie {
  width: 250px; /* 너비 설정 (필요에 따라 조정) */
  text-align: center;
}

.movie img {
  width: 200px; /* 이미지가 부모 요소의 너비를 따르도록 설정 */
  height: auto; /* 이미지 비율 유지 */
  border: 1px solid white;
  border-radius: 10%;
}

.big1 {
  font-size: 20px;
  font-weight: 600;
  overflow: hidden; /* 넘치는 텍스트를 숨김 */
  text-overflow: ellipsis; /* 넘치는 텍스트를 "..."으로 표시 */
  white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
  width: 100%; /* 부모 요소의 너비를 따르도록 설정 */
}

.small1 {
  font-size: 14px;
}

#event {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#middle1 {
  display: flex;
  gap: 20px;
}

#one {
  font-size: 30px;
  font-weight: bold;
}

#pause {
  border: 1px solid#e2e2e2;
  border-radius: 50%;
  width: 50px;
  height:50px;
  text-align: center;
  cursor: pointer;
  line-height: 50px; 
}

#whole1 {
  border: 1px solid #e2e2e2;
  border-radius: 30px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
  display: flex; /* Flexbox를 사용 (선택 사항) */
  align-items: center;
  justify-content: center; 
  width:110px ;
  height:50px;
  font-size: 20px;
  padding: 1px 10px 1px 10px;
  cursor: pointer;
}

#event2 {
  width: 70%;
  display: flex;
  gap: 50px;
  margin: 0 auto;
}

#event-img1, #event-img2 {
  display: flex; /* 플렉스를 사용하여 자식 요소를 정렬 */
  flex-direction: column; /* 자식 요소를 세로로 정렬 */
  align-items: center; /* 자식 요소를 중앙 정렬 */
  width: 330px; /* 너비 설정 */
}

#event-img1 img, #event-img2 img {
  width: 100%;
  height: 220px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5%;
}

#event-img1 h4, #event-img2 h4 {
  color: gray;
  align-self: flex-start;
  margin-top: -12px; 
}

#event-img1 h3, #event-img2 h3 {
  overflow: hidden; /* 넘치는 텍스트를 숨김 */
  text-overflow: ellipsis; /* 넘치는 텍스트를 "..."으로 표시 */
  white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
  width: 100%; /* 부모 요소의 너비를 따르도록 설정 */
  display: block; /* 블록 레벨 요소로 설정 */
  margin: 0; /* 기본 마진 제거 */
  margin-top: -10px;
}








