body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#scroll-book {
  display: none;
  position: fixed;
  right: 12%;
  z-index: 3000;
  bottom: 12%;
  width: 230px;
  height: 60px;
  justify-content: space-between;
 
}

#book {
  width: 68%;
  height: 100%;
  background-color: rgb(251, 67, 87);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#book a {
    color: white;
    text-decoration: none; 
}

#up {
  width: 25%;
  height: 100%;
  background-color: white;
  display: flex;
  border: 1px solid black;
  border-radius: 50%;
  color: black;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  cursor: pointer;
}

#hd1 {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-color: #0046ff;
  position: relative;
}

#hd1 img {
  width: 70%;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hd2 {
  width: 60%;
  height: 130px;
  margin: 0 auto;
  position: relative;
}

#sp1 {
  position: absolute;
  top: 55%;
  left: 13%;
  font-size: 20px;
  letter-spacing: 6px;
}

#sp2,
#sp3,
#sp4,
#sp5 {
  position: absolute;
  top: 65%;
  font-size: 15px;
}

#sp2 {
  left: 70%;
}
#sp3 {
  left: 77.5%;
}
#sp4 {
  left: 85.5%;
}
#sp5 {
  left: 93%;
}

#im0,
#im1,
#im2,
#im3,
#im4,
#im5 {
  position: absolute;
  cursor: pointer;
}

#im0 {
  width: 12%;
  top: 28%;
  left: 1%;
}
#im1 {
  width: 12%;
  bottom: 30%;
  left: 52%;
}
#im2 {
  width: 4%;
  top: 30%;
  left: 70%;
}
#im3 {
  width: 4%;
  top: 30%;
  left: 78%;
}
#im4 {
  width: 4%;
  top: 30%;
  left: 86%;
}
#im5 {
  width: 4%;
  top: 30%;
  left: 94%;
}

#hd3 {
  position: sticky;
  width: 100vw;
  height: 40px;
  border-top: 1px solid lightgray;
  margin-top: 20px;
  z-index: 1000;
}

#hd3 ul {
  width: 50%;
  position: absolute;
  right: 33%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 60px;
  font-size: 20px;
  margin-top: 20px;
  border-right: 1.5px solid darkgray;
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
}

#hd6 {
  display: none;
  position: absolute;
  top: 140%;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 2000;
  text-align: center;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#hd3:hover #hd6 {
  display: block;
}

.dropdown {
  margin: 0;
  padding: 10px;
  font-size: 16px;
  color: #333;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  top: 100%;
  padding: 10px;
  border-right: 2px solid lightgray;
}

.dropdown:last-child {
  border-right: none;
}

#scroll-banner {
  width: 100%;
  height: 8%;
  position: fixed;
  z-index: 4000;
  top:0%;
  background-color: rgb(215, 67, 87);
  display: none;
}

#banner-wrapper {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  }

#banner-1 {
  width: 75%;
  height: 40%;
  margin-top: 1.5%;
  line-height: 5px;
  border-right: 0.5px solid black;
  
}

#banner-1 ul {
  width: 50%;
  position: absolute;
  right: 33%;
  color: white;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 60px;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;

  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
}

#banner-1 img {
  width:90px;
  height: auto; 
  position: relative;
  bottom: 60%;

}

#banner-2 {
  position: relative;
  width: 25%;
  height: 40%;
  margin-top: 1.5%;
  border-right: 0.5px solid black;
}

#input2 {
  position: absolute;
  width: 90%;
  height: 90%;
  font-size: 20px;
  border: none;
  background-color:rgb(215, 67, 87);
}

#input2::placeholder {
  color: white;
  border: none;
}

.bold {
  font-weight: bold;
  font-size: 18px;
}

#hd4 {
  width: 15%;
  position: relative;
  left: 67%;
  height: 28px;
  margin-top: 20px;
  border-right: 1.5px solid darkgray;
}

#input1 {
  width: 90%;
  height: 80%;
  top: 10%;
  position: absolute;
  left: 5%;
  font-size: 20px;
  border: none;
}

#input1::placeholder {
  color: black;
  border: none;
}

.cus1 {
  margin-top: 5px;
  font-size: 23px;
  position: absolute;
  right: 3%;
  cursor: pointer;
}

#hd5 {
  width: 100%;
  height: 630px;
  overflow: hidden;
  margin-bottom: 50px;
  position: relative;
}

#hd5 video {
  margin-top: 30px;
  width: 100%;
  height: 600px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

#video-p1,
#video-p2,
#video-row {
  position: absolute;
  z-index: 3;
  color: white;
}

#video-p1 {
  font-size: 50px;
  font-weight: bold;
  top: 27%;
  left: 15%;
}

#video-p2 {
  font-size: 30px;
  top: 45%;
  left: 15%;
}

#video-row {
  width: 13%;
  height: 100px;
  top: 67%;
  left: 15%;
  display: flex;
  gap: 10px;
}

#chart {
  font-size: 26px;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#com {
  cursor: pointer;
  font-size: 30px;
}

.thick {
  font-size: 30px;
  font-weight: bold;
}

.circle1 {
  border: 1px solid #e2e2e2;
  border-radius: 30px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6vw;
  height: 50px;
  font-size: 20px;
  padding: 1px 10px 1px 10px;
  cursor: pointer;
}

.overlay button {
  width: 200%;
  height: 200%;
}

.slider {
  position: relative;
  width: 66%;
  margin: 0 auto;
}

.swiper {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 100px;
}

.swiper-slide {
  width: 20%;
  text-align: center;
  margin-top: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: aqua;
  opacity: 0.5;
  padding: 10px;  
  border-radius: 20px;
  color: black !important;
}

.slider2 {
  position: relative;
  width: 65%;
  margin: 0 auto;
}

.swiper2 {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 100px;
}

.overlay {
  top: 25%;
  left: 30%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#button-detail {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: bold;
  color: gray;
}

#button-book {
  cursor: pointer;
  background-color: #fb4357;
  color: white;
  border: 1px solid #fb4357;
  border-radius: 5px;
  font-weight: bold;
}

.swiper-slide img {
  width: 90%;
  height: auto;
  border: 1px solid white;
  border-radius: 10%;
}

.fa-solid.fa-1,
.fa-solid.fa-2,
.fa-solid.fa-3,
.fa-solid.fa-4,
.fa-solid.fa-5,
.fa-solid.fa-6,
.fa-solid.fa-7,
.fa-solid.fa-8,
.fa-solid.fa-9 {
  position: absolute;
  left: 12%;
  top: 58%;
  font-size: 52px;
  color: white;
}

.swiper-slide:hover .fa-solid.fa-1,
.swiper-slide:hover .fa-solid.fa-2,
.swiper-slide:hover .fa-solid.fa-3,
.swiper-slide:hover .fa-solid.fa-4,
.swiper-slide:hover .fa-solid.fa-5,
.swiper-slide:hover .fa-solid.fa-6,
.swiper-slide:hover .fa-solid.fa-7,
.swiper-slide:hover .fa-solid.fa-8,
.swiper-slide:hover .fa-solid.fa-9 {
  opacity: 0;
}


.swiper-slide:hover .overlay {
  opacity: 1;
}

.swiper-slide:hover img {
  filter: brightness(70%);
}

.big1 {
  font-size: 20px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap;
  width: 100%;
}

.small1 {
  font-size: 14px;
}

#event {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#middle1 {
  display: flex;
  gap: 20px;
}

#one {
  font-size: 30px;
  font-weight: bold;
}

#pause {
  border: 1px solid#e2e2e2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  line-height: 50px;
}

#whole1 {
  border: 1px solid #e2e2e2;
  border-radius: 30px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 50px;
  font-size: 20px;
  padding: 1px 10px 1px 10px;
  cursor: pointer;
}

#event2 {
  width: 60%;
  display: flex;
  gap: 50px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.event-img {
  display: flex;
  flex-direction: column;
  width: 30%;
  overflow: hidden;
}

.event-img img {
  width: 90%;
  height: 220px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5%;
  transition: transform 0.3s ease;
}

.event-img img:hover {
  transform: scale(1.1);
}

.event-img h4 {
  color: gray;
  align-self: flex-start;
  margin-top: -12px;
}

.event-img h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: block;
  margin: 0;
  margin-top: -10px;
}

#special1 {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#special-text {
  font-size: 30px;
  font-weight: bold;
}

#special2 {
  width: 60%;
  margin: 0 auto;
  display: flex;
  gap: 50px;
}

#sp-img2 , #sp-img3 , #sp-img4 {
  display: none;
  width: 500px;
  height: 300px;
}

#sp-img1 {
  display: block;
  width: 500px;
  height: 300px;
}


#special-list {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  margin-bottom: 100px;
}

#list1 {
  width: 100%;
  height: 25%;
  margin: 0 auto;
  border-top: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#list2 {
  width: 100%;
  height: 25%;
  margin: 0 auto;
  border-top: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#list3 {
  width: 100%;
  height: 25%;
  margin: 0 auto;
  border-top: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#list4 {
  width: 100%;
  height: 25%;
  margin: 0 auto;
  border-top: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-bold {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.gray {
  font-size: 20px;
  color: gray;
  background-color: #f6f6f6;
  border: 1px solid white;
  border-radius: 1 0px;
  margin-right: 20px;
  margin-top: 20px;
}

#search {
  width: 15%;
  position: relative;
  left: 67%;
  height: 28px;
  margin-top: 20px;
  border-right: 1.5px solid darkgray;
}

input[type="text"] {
  width: 90%;
  height: 80%;
  top: 10%;
  position: absolute;
  left: 5%;
  font-size: 20px;
  border: none;
}

#package {
  width: 62%;
  margin: 0 auto;
  height: 450px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.buy {
  width: 27%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid lightgray;
  border-radius: 5%;
  padding: 20px;
}

.buy-title {
  display: flex;
  justify-content: space-between;
}

.circle2 {
  border: 1px solid #e2e2e2;
  border-radius: 30px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50px;
  font-size: 20px;
  padding: 1px 10px 1px 10px;
  cursor: pointer;
}

.title3 {
  font-size: 25px;
  font-weight: bold;
}

.circle3 {
  border: 1px solid #e2e2e2;
  border-radius: 30px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12%;
  height: 40%;
  font-size: 20px;
  padding: 1px 10px 1px 10px;
  cursor: pointer;
}

.circle2 {
  border: 1px solid #e2e2e2;
  border-radius: 30px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23%;
  height: 90%;
  font-size: 20px;
  padding: 1px 10px 1px 10px;
  cursor: pointer;
}

.buy-content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}

.buy-content img {
  width: 70px;
  height: 90px;
}

.combine1 {
  font-size: 12px;
}

#section6 {
  width: 60%;
  margin: 0 auto;
  height: 30vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

#s6_left {
  width: 77%;
  height: 100%;
  display: flex;
  border: 1px solid lightgray;
  border-radius: 20px;
}

#s6_right {
  width: 20%;
  height: 100%;
}

#s6_right img {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 20px;
}

#left_left {
  width: 70%;
  height: 100%;
}

#left_right {
  width: 30%;
  height: 100%;
  margin: 0 auto;
  border-left: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

#left_right img {
  width: 30%;
}

.small2 {
  font-size: 13px;
  text-align: center;
}

#alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  height: 30%;
  border-bottom: 1px solid lightgray;
}

#center {
  width: 90%;
  margin: 0 auto;
  height: 70%;
  padding-top: 6%;
  line-height: 30px;
}

.bold2 {
  font-size: 20px;
  font-weight: bold;
}

#center-time {
  margin-left: 21%;
}

#center-div {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.ask {
  font-size: 18px;
  width: auto;
  height: 35px;
  background-color: #f6f6f6;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid white;
  border-radius: 8px;
}

footer {
  width: 100%;
  height: 500px;
  position: relative;
  background-color: #f6f6f6;
}

#footer-container {
  position: absolute;
  width: 100%;
  top: 60%;
}

#credit {
  width: 65%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px;
}

#info {
  line-height: 25px;
  width: 65%;
  margin: 0 auto;
}

#info p {
  margin-right: 60%;
}

#bold3 {
  font-weight: bold;
  text-decoration: underline;
}

footer form {
  position: absolute;
  right: 17%;
  top: 60%;
}

select {
  border: 2px solid black;
  height: 50px;
}

input[type="button"] {
  height: 50px;
  width: 50px;
}
